<h1>New Power Form</h1>

<%= form_for @power do |f| %>

<%= f.label :name, "Name:" %>
<%= f.text_field :name %>

<%= f.label :description, "Description:" %>
<%= f.text_field :description %>

<%= f.submit %>

<% end %>

<br>
<%= button_to "Back to Power Show Page", power_path, method: :get %>