<h1> New Heroine Form:</h1>
<%= form_for @heroine do |f| %>
  <p><%= f.label :name %>:
  <%= f.text_field :name %><br />

  <p><%= f.label :super_name %>:
  <%= f.text_field :super_name %><br />

  <p><%= f.label :power_id %>
  <%= f.collection_select :power_id, Power.all, :id, :name%>

  <% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
  <p><%= f.submit %>
<% end %>
