<h1><%=@heroine.super_name%></h1><br>
<h3><%=@heroine.name%></h3><br>
<h3><%=link_to @heroine.power.name, power_path(@heroine.power)%></h3>

<%= button_to "Edit Heroine", edit_heroine_path, method: :get%>
<%= button_to "View All Heroines", heroines_path, method: :get%>
<%= button_to "Delete Heroine", heroine_path, method: :delete%>
<%= button_to "Home", welcome_path, method: :get%>
